#discSelectPage {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    display: flex;
    justify-content: center;
    background: #eaeaea;
    color: #383838;
    padding: 0 30px;
}
#discSelectPage #title {
    position: fixed;
    font-size: 4rem;
}
#discSelectPage #scrollBtns {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#discSelectPage #scrollBtns button {
    border: none;
    background: none;
    font-size: 2rem;
}
#discSelectPage #backBtn {
    position: fixed;
    bottom: 10px;
    left: 10px;
}
#discSelectPage #insertBtn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: auto;
}
#discSelectPage #discGrid {
    display: flex;
    top: 0; left: 0; right: 0; bottom: 0;
    height: calc(100% - 200px);
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 100px 0;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#discSelectPage #discGrid::-webkit-scrollbar {
    display: none;
}
#discSelectPage #discGrid .disc {
    border-radius: 0.5rem;
    background: none;
    font-size: 1.5rem;
    max-width: 150px;
}
#discSelectPage #discGrid .disc img {
    width: 100%;
}